	  <ul>
	    <li><a href="#closedloop">Closed-loop experiments</a></li>
	    <li><a href="#model">Model simulations</a></li>
	    <li><a href="#hardware">Hardware independence</a></li>
<!--	    <li><a href="#threads">Multi-threaded design</a></li>  -->
	    <li><a href="#analysis">Data-analysis library</a></li>
	    <li><a href="#metadata">Meta-data</a></li>
	    <li><a href="#free">Free software</a></li>
	  </ul>
