<a name="plugins"></a>
<h2>Plugins</h2>
<p>
  Plugins play an important role in <span class="relacs">relacs</span>.
  They adapt <span class="relacs">relacs</span> to specific hardware drivers
  and they allow you to implement experimental protocols, filters,
  spike detectors, etc.
</p>

<a name="pluginsets"></a>
<h3>Plugin Sets</h3>
<p>
  The plugins come in sets that contain plugins for a specific
  experimental setting:
</p>
PLUGINSETS

<a name="plugintypes"></a>
<h3>Plugin Types</h3>
<p>
  Here is a list of all plugins sorted by their type:
</p>
PLUGINTYPES
