          <ul>
            <li><a href="reference">User manual</a></li>
	    <li><a href="../plugins">Plugins</a></li>
            <li><a href="reference/classes.html">API reference</a></li>
            <li><a href="reference/relacsprogram.html">Internals</a></li>
            <li><a href="readme.html">README</a></li>
            <li><a href="install.html">INSTALL</a></li>
            <li><a href="changelog.html">ChangeLog</a></li>
            <li><a href="news.html">NEWS</a></li>
          </ul>
