    <div class="header">
      <div class="logo">
	<img src="BASEDIRrelacstux.png" alt="relacs-tux">
      </div>
      <div class="titles">
	<h1><img src="BASEDIRrelacslogo.png" alt="relacs"></h1>
	<h2><b>R</b>elaxed <b>El</b>ectrophysiological Data <b>A</b>cquisition, <b>C</b>ontrol, and <b>S</b>timulation</h2>
	<h3>by Jan Benda, 2002 - 2008</h3>
      </div>
    </div>
