<a class=floatright href="http://sourceforge.net">
  <img src="http://sflogo.sourceforge.net/sflogo.php?group_id=199846&amp;type=5" width="210" height="62" border="0" alt="SourceForge.net Logo">
</a>

<p>
  <span class="relacs">relacs</span> (pronounced "relax!")
  is a software platform for data acquisition,
  online analysis, and stimulus generation specifically
  designed for (but not limited
  to) electrophysiological recordings.
</p>

<p>
  <span class="relacs">relacs</span> is 
  <a href="features/index.html#free">free and open software</a>
  to foster development and exchange of innovative
  experimental protocols and analysis techniques.
</p>


<a name="overview"></a>
<h3>Overview</h3>

<div class="figureright">
  <div class="image">
    <img src="features/closedloop.png" alt="closed-loop">
  </div>
  <div class="caption">
    Closed loop experiments.
    From <a href="publications/Benda2007abstract.html">
    Benda et al. 2007</a>.
  </div>
</div>

<ul>
  <li><a href="features#closedloop">Closed-loop experiments</a></li>
  <li><a href="plugins">C++ plugins for powerful flexibility</a></li>
  <li><a href="features#model">Integrating experiments and model simulations</a></li>
  <li><a href="features#hardware">Hardware independence</a></li>
<!-- <li><a href="features#threads">Multi-threaded design</a></li> -->
  <li><a href="features#analysis">Data-analysis library</a></li>
  <li><a href="features#metadata">Meta-data</a></li>
  <li><a href="features#free">Free software</a></li>
</ul>

<p>
  We are using this program very succesfully in our lab
  (see <a href="publications/index.html">list of publications</a>).
</p>


<a name="news"></a>
<h3>News</h3>

<dl>
INSERTNEWS
</dl>

<p>
  <a href="doc/news.html">Read all NEWS announcements.</a>
</p>
